body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(87, 63, 63);
    text-align: center;
  }
  h3, h2{
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  /* button{
    padding: none;
    border: none;
    background: none;
  } */
  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border: solid; */
    align-items: center;
    /* justify-content: center; */
  }
  
  .action{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: solid; */
  }
  
  .button {
    /* border: solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }